
<ion-view  style="background-color:#f2f2f2;">
  <div style="background-color:#00a4b9; width=100%; height:60px;">
      
    <p style="text-align:center; font-size:25px;color:white; padding-top:20px;">
      StapleToday</p>
  </div>
  <ion-content background-color="#f2f2f2">
    <br> <br>
       <br> <br>
        <center>
          <table>
          <tr>
          <td style="padding-left:15px;padding-top:1em"> <i class="fa fa-envelope" style="font-size:40px;color:#00a4b9;"></td>

          </tr>
        </table>
         <br>
        <p style=" color: #4c4a37;
         font-family: 'Source Sans Pro',
          sans-serif; font-size: 18px;"> Please feel free to contact for any
        issues/clarifications at</p>
        <p style=" color:#00a4b9;font-size: 18px;"> contact@staple.today</p>
        <br>
        <!-- <div style="border: 1px solid"> -->
        <hr>
        
        <div class="list" style="background-color:inherit;font-size: 18px;height:30px;" align="left" ng-click="terms()"><p style="margin-left:1em;margin-top:.25em">Terms & Conditions<i class="fa fa-angle-right" style="margin-left:45%"></i></p>
          <hr>
          </div>
        
          <!-- <br> -->
        
          <div class="list" style="background-color:inherit;font-size: 18px;height:30px;margin-top:0.5em" align="left" ng-click="faq()"><p style="margin-left:1em;margin-top:.25em">FAQ's<i class="fa fa-angle-right" style="margin-left:78%"></i></p>
            <hr>
            </div>
        
          
            <div class="list" style="background-color:inherit;font-size: 18px;height:30px;margin-top:0.5em" align="left" ng-click="privacy()"><p style="margin-left:1em;margin-top:.25em">Privacy Policy<i class="fa fa-angle-right" style="margin-left:60%"></i></p>
              <hr>
              </div>
            <!-- </div> -->
          




       </center>
  </ion-content>
</ion-view>
