<ion-view>



<ion-content >
  <div style="background-color:#00a4b9; width=100%; height:50px;">
    <br>
  <p style="text-align:center; font-size:20px;color:white;">FAQ's</p>
  </div>
  <div>
            <div style="margin-left:0.5em">

                <h2> FAQ's</h2>
                <p>
                    Staple Today is a hyper-local that helps you find the best neighbourhood stores for daily shopping. Find, Order for Delivery or place an order for Pick-up to avoid long queues.
                </p>

                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h4>Why should I buy groceries through Staple?</h4>
                        <p>Staple helps you to shop all your daily needs under one roof from your favorite neighborhood super market by just a click at your convenient time from home or office. Our partnership with neighborhood retail store gives you the opportunity to place order without priory planning.
                        </p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h4>SEAMLESS PAYMENT</h4>
                        <p> You can buy mostly by paying the full amount through the app, and enjoy a cashless experience unless otherwise merchant only accepts cash-on-delivery. </p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h4>CONFIRMATION CODE</h4>
                        <p> This is just a friendly service for you to get added insurance on delivery. This will also helps us to keep track of delivery time and confirmation.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6">
                        <h4>NO PLANNING REQUIRED</h4>
                        <p> Staple is meant for convenience. Just open the app, keep adding to your weekly list till you are ready to place an order. No hassles of keeping track items of individual family member. Just pair with respective member and we will synch your lists. </p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h4>BEST LOYALTY</h4>
                        <p> We are working on some of the exciting loyalty schemes, which not only help you save more but a delight on redemptions! </p>
                    </div>
                    <div class="col-md-4 col-sm-6">
                        <h4>THE BEST DEALS</h4>
                        <p> We work incredibly hard to get you the best discounts on the services you use the most. But please do not believe us- Try and decide yourself</p>
                    </div>
                    <!--<div class="col-md-4 col-sm-6">-->
                    <!--    <h4>FEEDBACK..?</h4>-->
                    <!--    <p> Another good reason for you to stick around is we assure you your feedback will reach to right ears and just not average but every order experience!-->
                    <!--    </p>-->
                    <!--</div>-->

                </div>


                    <h4>What products do we have to offer?</h4>
                    <p>We offer wide range of products. Our relationship with partnered retailers adds value to our customers. All the products offered on our website are directly from partnered retail store, on an average close to 6000 products are offered on daily basis. We can confidently confirm no other e-grocery website will offer as many products as we offer. We also offer imported brands i.e. Post cereals, American garden sauces and many more.</p>

                    <h4>What are the delivery charges? </h4>
                    <p>Delivery for any order amount is free for the super markets we partnered with now, but it is subject to vary. As we keep partnering with more stores, the delivery charge will vary from store to store.</p>


                    <h4>Do I need to take a print out of anything..?</h4>
                    <p>Absolutely not.</p>

                    <h4>How long will the delivery take?</h4>
                    <p>Once the order is confirmed, it would take up till 2 hours for the delivery to be completed. But, we ask the customer to choose the delivery slot while placing the order and according to the chosen delivery slot by the customer delivery will be completed within that time period.</p>

                    <h4>Is it possible for me to change add or remove products after placing an order?</h4>
                    <p>Once the order is confirmed, no changes can be done to the order via app, for any changes you need contact respective merchant store.</p>



                    <h4>Is it possible for you to deliver the groceries at my neighbors or in front of my door if I am not at home?</h4>
                    <p>Yes, we can deliver it to the neighbors as per your instruction either done through a call or mentioned while placing the order. In case of cash/card on delivery the amount will be collected from the neighbor.</p>

                    <h4>Do you do same day delivery and what is same day delivery?</h4>
                    <p>We along with our partnered retailers provide with same day delivery for any order placed before 8 PM. Post which order will be delivered the following day.</p>


                    <h4>Is it possible to cancel an entire order?</h4>
                    <p>Yes, the order can be cancelled on the following situations:

1) If one of the requested products are not available.
2) If order has not been dispatched.</p>

                    <h4>What happens if an item is defected (damaged, leaking or expired) during the time of delivery?</h4>
                    <p>We insist you to check the items during the time of delivery. If incase, the products are defected the same can be returned to respective merchant store.</p>


                    <h3 class="capt">Refund</h3>

                    <h4>Are there any hidden charges I should know about?</h4>
                    <p>Absolutely not. </p>

                    <h4>When and how will I get my refund in case of cancellation or product return?</h4>
                    <p>
The refund on product return will be processed by respective merchant.
                    </p>


                    <h3 class="capt">Contact Us</h3>
                    <h4>I have a problem, where and whom should I contact for it?</h4>
                    <p>
                        Please reach out to us at <a href="mailto:contact@staple.today">contact@staple.today</a>
                    </p>



        </div>

    </div>



</ion-content>
</ion-view>
