<ion-view  hide-nav-bar="true">
  <ion-content style="background-color:#00a4b9; width:100% !important" align="center">
    <!-- <div  style="background-color:#00a4b9; width:100% !important"> -->
    <br> <br>
   <br> <br> <br><br> <br>
    <!-- <center> -->
      <br>
      <!-- <div align="center"> --><!-- 
      <h2 style="color:white">@S T A P L E  T O D A Y</h2>
      <h4 style="color:white">NEIGHBOURHOOD CONVENIENCE</h4> -->
    <!-- </div> -->
      <!-- </center> -->
  <!-- </div> -->
</ion-content>

</ion-view>
