<ion-view>



<ion-content >
  <div style="background-color:#00a4b9; width=100%; height:50px;">
    <br>
  <p style="text-align:center; font-size:20px;color:white;">Privacy</p>
  </div>

  <div class="row">
        <div class="col-lg-12">
            <div class="mt">
                <h2>Privacy Policy</h2>

                <h3>1: What Personal Information Does Staple Collect?</h3>
                <p>
                    Your phone number<br>
                    Your location information from time to time<br>
                    Any personal information that you choose to provide such as name, email, gender.<br>
                    Information about your device such as hardware information, operating system version, carrier info if available.
                </p>
                <h3>2: Why is this information collected?</h3>
                <p>
                    Your Services account will be associated with your phone number and this account will be used for all our Services that you use. Information you provide to one of our Services may be used with other Services from us that you or your friends use. For example, location information we receive in connection with your use of one of our apps may be used to customize the content you and your friends see in another of our apps. We may also draw upon this Personal Information in order to adapt the Services of our community to your needs, to research the effectiveness of our network and Services, and to develop new tools for the community.The contact information you provide may be used by Staple to send you timely and relevant promotions. By accepting this privacy policy, you give liveintech the right to contact you by SMS or e-mail for such promotions.
                </p>
                <p>
                    Staple provides you, the user, with options in vairous categories from nerighbourhood stores, customized to your location, indicated tastes and probable use. Since the stores are out of the reach of Staple, we need to collect the above information on a periodic basis as well as we cannot gaurantee any availability or discrepencies in prices. Your contact information is collected in order to enable you to share the deals that you discover on our platform with your friends at real-time.
                </p>

                <h3>3: How is My Information Shared?</h3>
                <p>
                    Personal Information about our users is an integral part of our business. We neither rent nor sell your indentifiable personal Information to anyone.
                </p>

                <h3>4: How do we use information:</h3>

                <p>
                    Staple will use your personal information to provide personalized features to you on the app and to provide for promotional offers to you through the app and other channels. Staple will also provide this information to its business associates and partners to get in touch with you when necessary to provide the services requested by you.
                </p>
                <p>
                    Staple will use this information to preserve transaction history as governed by existing law or policy. Staple may also use contact information internally to direct its efforts for product improvement, to contact you as a survey respondent, to notify you if you win any contest; and to send you promotional materials from its contest sponsors or advertisers. Staple will also use this information to serve various promotional and advertising materials to you via display advertisements through the Google Ad network on third party websites. You can opt out of Google Analytics for Display Advertising and customize Google Display network ads using the Ads Preferences Manager.
                </p>
                <p>
                    Information about Customers on an aggregate (exlcuding any information that may identify you specifically) covering Customer transaction data and Customer demographic and location data may be provided to partners of Staple for the purpose of creating additional features on the website or apps, creating appropriate merchandising or creating new products and services and conducting marketing research and statistical analysis of customer behaviour and transactions.
                </p>


                <h3>5: Determining your location</h3>
                <p>
                    The Services deal with location, so in order to work, the Services need to know your location. Whenever you open and use/interact with our apps on your mobile device or go to one of our Sites, we use the location information from your mobile device or browser (e.g., latitude and longitude) to tailor the Services experience to your current location (i.e., we'll show you a list of nearby locations, friends and tips). This information is NOT shared in a form that is identified with you with others unless you are using a service that they offer. Also, the Services use your mobile device's ‘background location to provide the Services, including to send you notifications of tips/friends/plans/interesting things etc. near you. If you have ‘background location turned on, the Staple app will, from time to time, tell us about your device's location even if you are not directly interacting with the application.</p>

                <h3>6: Sharing Location with the Staple app</h3>
                <p>
                    Your real-time location is not shared with anyone on the Staple app in a form that identifies you.If you use a service from one of our merchants, write a tip, like or otherwise interact with a place, users may infer that you have been to that location. Some content, like tips, are time stamped and other users could use that information to infer when you were at a place even though tips can be posted when you aren't at the place you are leaving a tip about.
                </p>
                <p>
                    Your location data is ONLY shared with others when you proactively decide to "purchase" a deal from one of the merchants on our platform. "Others" in this scenario ONLY represents the owner of the service / product that you have purchased.
                </p>

                <p>
                    By default, location sharing is turned on and at a radius level is shared with your Staple friends and is updated from time to time using your background location. You can turn off neighborhood sharing. Your location is also shared when you proactively decide to "purchase with a "check in" is the location information of that place.
                </p>

                <h3>9: Your Location History</h3>
                <p>
                    We store your location history to provide you better quality deals. This information is treated as private under any and all circumstances and is NEVER shared.
                </p>


            </div>
        </div>

    </div>
</ion-content>
</ion-view>
